<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeRuTX7sxraZzSjd_do2DFVl1286te-Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>770461682275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beginerProject.scanAndFitDemo</string>
	<key>PROJECT_ID</key>
	<string>scanfit-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>scanfit-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770461682275:ios:9d78d7238df01fd54dc656</string>
</dict>
</plist>